name: Publish Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use Node.js 18.x
        uses: actions/setup-node@v6
        with:
          node-version: 18.x
      - name: Enable corepack
        run: corepack enable
      - name: Check release is desired
        id: do-publish
        run: |
          if [ -z "${{ secrets.NPM_TOKEN }}" ]; then
            echo "No Token"
            exit 0
          fi

          # If this run was started manually, choose nightly for main and experimental otherwise.
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
              echo "Publishing nightly"
              echo "tag=nightly" >> $GITHUB_OUTPUT
            else
              echo "Publishing experimental"
              echo "tag=experimental" >> $GITHUB_OUTPUT
            fi

            HASH=$(git rev-parse --short HEAD)
            TIMESTAMP=$(date +"%Y%m%d-%H%M%S")
            PRERELEASE_TAG=nightly-$(echo "${{ github.ref_name }}" | sed -r 's/[^a-z0-9]+/-/gi')
            echo "prerelease=${PRERELEASE_TAG}-${TIMESTAMP}-${HASH}" >> $GITHUB_OUTPUT

          else
            PUBLISHED_VERSION=$(yarn npm info --json @elgato-stream-deck/node | jq -c '.version' -r)
            THIS_VERSION=$(node -p "require('./packages/node/package.json').version")
            # Simple bash helper to comapre version numbers
            verlte() {
              [  "$1" = "`echo -e "$1\n$2" | sort -V | head -n1`" ]
            }
            verlt() {
              [ "$1" = "$2" ] && return 1 || verlte $1 $2
            }
            if verlt $PUBLISHED_VERSION $THIS_VERSION
            then
              echo "Publishing latest"
              echo "tag=latest" >> $GITHUB_OUTPUT
            else
              echo "Publishing hotfix"
              echo "tag=hotfix" >> $GITHUB_OUTPUT
            fi

          fi
      - name: Prepare build
        if: ${{ steps.do-publish.outputs.tag }}
        run: |
          yarn install

          # Bump to prerelease version if needed
          if [ "${{ steps.do-publish.outputs.prerelease }}" != "" ]; then
            OLD_VERSION=$(node -p "require('./package.json').version")
            yarn workspaces foreach --all -pt version --immediate "${OLD_VERSION}-${{ steps.do-publish.outputs.prerelease }}"
          fi

          yarn build
        env:
          CI: true
      - name: Publish to NPM
        if: ${{ steps.do-publish.outputs.tag }}
        run: |
          yarn workspaces foreach --all -pt --exclude elgato-stream-deck-packages --exclude @elgato-stream-deck/webhid-demo npm publish --access=public --provenance --tag ${{ steps.do-publish.outputs.tag }}
        env:
          CI: true
